header{
    background: black;
    color: white;
    padding:10px 30px 60px 10px ;
    font-size: 25px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
    text-align: left;
    background-image: url(../Images/1000030.jpg);
    position: relative;
    background-size:100%;
    background-position: top;
    background-repeat: no-repeat;
}
nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    padding-bottom: 90px;
}
ul{
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: black;
    color: white;
}
nav.class{
    text-align: left;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    background-color:Gray;
}
footer{
    background: rgb(0, 0, 0);
    color: white;
    padding: 30px 0px 30px 30px;
    font-size: xx-large;
    text-align: center; 
    background-image: url(../Images/1000030.jpg);
    position: relative;
    background-size:100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
section{
    padding: 60px 100px 100px 10px;
    background: rgb(250, 91, 61);
}
